// Font
$primary-fonts: "Open Sans",
sans-serif;
// Main Colors
$midnight: #000614;
$oxfordBlue: #222935;
$green: #26c17e;
$raven: #667081;
$gallery: #eeeeee;
$white: #ffffff;
$black: #000000;
$alto: #dddddd;
$red: #ff3333;